
<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %></div>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %></div>
      </ul>
    </div>
  <% end %>

  <div class="s-table">
    <div class="across">
      <div class="s-label">Image</div>
      <div class="data f2"><%= form.file_field :image, id: :profile_image %></div>
    </div>

    <div class="across">
      <div class="s-label">First name</div>
      <div class="data f2"><%= form.text_field :first_name, id: :profile_first_name %></div>
    </div>

    <div class="across">
      <div class="s-label">Last name</div>
      <div class="data f2"><%= form.text_field :last_name, id: :profile_last_name %></div>
    </div>

    <div class="across">
      <div class="s-label">Street number</div>
      <div class="data f2"><%= form.text_field :street_number, id: :profile_street_number %></div>
    </div>

    <div class="across">
      <div class="s-label">Street</div>
      <div class="data f2"><%= form.text_field :street, id: :profile_street %></div>
    </div>

    <div class="across">
      <div class="s-label">City</div>
      <div class="data f2"><%= form.text_field :city, id: :profile_city %></div>
    </div>

    <div class="across">
      <div class="s-label">Postcode</div>
      <div class="data f2"><%= form.text_field :postcode, id: :profile_postcode %></div>
    </div>

    <div class="across">
      <div class="s-label">State</div>
      <div class="data f2"><%= form.text_field :state, id: :profile_state %></div>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class: 'btn btn-warning' %>

<% end %>
