<div class="profiles">
  <div class="s-table">
    <figure class="data">
      <% if @profile.image.present? %>
        <%= image_tag @profile.image_url(:original), size: '300x210', alt: "profile photo" %>
      <% else %>
        <p>Np photo</p>
      <% end %>
    </figure>

    <div class="across" >
      <div class="s-label"><strong>Name:</strong></div>
      <div class="data">
      <%= @profile.full_name %>
      </div>
    </div>

    <div class="across" >
      <div class="s-label"><strong>Street number:</strong></div>
      <div class="data" ><%= @profile.street_number %></div>
    </div>

    <div class="across" >
      <div class="s-label"><strong>Street:</strong></div>
      <div class="data" ><%= @profile.street %></div>
    </div>

    <div class="across" >
      <div class="s-label"><strong>City:</strong></div>
      <div class="data" ><%= @profile.city %></div>
    </div>

    <div class="across" >
      <div class="s-label"><strong>Postcode:</strong></div>
      <div class="data" ><%= @profile.postcode %></div>
    </div>

    <div class="across" >
      <div class="s-label"><strong>State:</strong></div>
      <div class="data" ><%= @profile.state %></div>
    </div>
    <div class="across buttons">
      <%= link_to 'Edit', edit_profile_path(@profile), class: 'item btn btn-warning' %>
    </div>
  </div>
  <div class="item f3"></div>
</div>