<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :vehicle_id, id: :booking_vehicle_id %>
  <%= form.hidden_field :charge_station_id, id: :booking_charge_station_id %>

  <div class="s-table">
    <div class="across">
      <div class="s-label">Booking date</div>
      <div class="data f2"><%= form.date_field :start_time, id: :booking_start_time %></div>
    </div>

    <div class="across">
      <div class="s-label">Time slot</div>
      <div class="data f2"><%= form.select :name, ['am', 'pm'], id: :booking_name %></div>
    </div>

    <div class="across">
      <div class="s-label">Price (cents)</div>
      <div class="data f2"><%= form.number_field :price_cents, id: :booking_price_cents %></div>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class: 'btn btn-warning' %>
  </div>
<% end %>
