<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.date_select :start_time, id: :booking_start_time %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :booking_name %>
  </div>

  <div class="field">
    <%= form.label :price_cents %>
    <%= form.number_field :price_cents, id: :booking_price_cents %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.text_field :vehicle_id, id: :booking_vehicle_id %>
  </div>

  <div class="field">
    <%= form.label :charge_station_id %>
    <%= form.text_field :charge_station_id, id: :booking_charge_station_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
