
<h5>Bookings</h5>

<div class="flex-table">
  <% @bookings.each do |booking| %>
    <div class="row <%= station_bookings(booking) %>">
      <div class="pair">
        <div class="label">Booked date</div>
        <div class="data"><%= link_to booking.start_time, booking, class: 'btn btn-success' %></div>
      </div>
      <div class="pair">
        <div class="label">Charge station</div>
        <div class="data"><%= booking.charge_station.address.city %></div>
      </div>
      <div class="pair">
        <div class="label">Time slot</div>
        <div class="data"><%= booking.name %></div>
      </div>
      <div class="pair">
        <div class="label">Price</div>
        <div class="data"><%= booking.price.format %></div>
      </div>
      <div class="pair">
        <div class="label">Vehicle</div>
        <div class="data"><%= booking.vehicle.licence_plate %></div>
      </div>
      <div class="pair">
        <div class="no-label"></div>
        <div class="buttons">
          <%= button_to 'Add Fav.', favourites_path(charge_station_id: booking.charge_station_id,
              vehicle_id: booking.vehicle_id, method: :post), class: 'item btn btn-warning' %>
          <%= link_to 'Edit', edit_booking_path(booking), class: 'item btn btn-warning' %>
          <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'item btn
          btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
