<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @booking.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @booking.price_cents %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @booking.vehicle %>
</p>

<p>
  <strong>Charge station:</strong>
  <%= @booking.charge_station %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
