<div class="homes flex-main">
  <div class="down">
    <div class="search">
      <%= form_tag(root_path, method: :get) do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Search', name: nil, class: 'btn btn-warning' %>
      <% end %>
      </div>
    <div id="map" class="item"></div>
    <script type="text/javascript">
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(<%= @lat_center %>, <%= @long_center %>),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var locations = <%= raw @locations.to_json %>;
      var marker, i;

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][0], locations[i][1]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            const url = locations[i][2];
            window.location.href = url
          }
        })(marker, i));
      }
    </script>
  </div>

  <div id="station" class="item">
    <% if @charge_station.present? %>
      <h5><%= @charge_station.address %></h5>
      <div class="s-table">
        <%= render 'layouts/charge_station_details', charge_station: @charge_station, plugs: @plugs %>
      </div>
      <%= month_calendar events: @bookings do |date, bookings| %>
        <% if (name = booked_name(bookings)) %>
          <div class="<%= name %>"><%= date.day %></div>
        <% else %>
          <%= date.day %>
        <% end %>
      <% end %>

      <%= button_to 'Chat', conversations_path(charge_station_id: @charge_station, method: :post), class: 'btn
      btn-warning' %>

      <div class="flex-table">
        <% @vehicles.each do |vehicle| %>
          <div class="row">
            <div class="pair">
              <div class="label">Licence Plate</div>
              <div class="data"><%= vehicle.licence_plate %></div>
            </div>

            <div class="pair">
              <div class="label">Make</div>
              <div class="data"><%= vehicle.make %></div>
            </div>

            <div class="pair">
              <div class="label">Model</div>
              <div class="data" ><%= vehicle.model %></div>
            </div>

            <div class="pair">
              <div class="label">Colour</div>
              <div class="data"><%= vehicle.colour %></div>
            </div>

            <div class="pair">
              <div class="no-label"></div>
              <div class="buttons"><%= link_to 'Book', new_booking_path(vehicle_id: vehicle, charge_station_id: @charge_station), class:
                  'item btn btn-warning' %></div>
            </div>
          </div>
        <% end %>
      </div>


  <% end %>
  </div>


</div>