
<h5><%= @charge_station.address %></h5>

<div class="flex-table">
  <% @adapter_plugs.each do |adapter_plug| %>
    <div class="row">
      <div class="pair">
        <div class="label">Adapter Plugs</div>
        <div class="data f2"><%= adapter_plug.adapter.to_plug %></div>
      </div>
      <div class="pair">
        <div class="no-label"></div>
        <div class="buttons">
          <%= link_to 'Edit', edit_charge_station_adapter_plug_path(@charge_station, adapter_plug), class: 'item btn
          btn-warning' %>
          <%= link_to 'Destroy', [@charge_station, adapter_plug], method: :delete, data: { confirm: 'Are you sure?'
          }, class: 'item btn
          btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Adapter Plug', new_charge_station_adapter_plug_path(@charge_station), class: 'btn btn-warning' %>
<%= link_to 'Back', charge_station_path(@charge_station), class: 'btn btn-success' %>

