
<div class="flex-table">
  <% @vehicles.each do |vehicle| %>
    <div class="row">
      <figure class="data">
          <% if vehicle.image.present? %>
            <%= image_tag vehicle.image_url(:original), size: '150x100', alt: "vehicle photo" %>
          <% else %>
            <p>Np photo</p>
          <% end %>
      </figure>
      <div class="down f2">
        <div class="across">
          <div class="s-label">Licence Plate</div>
          <div class="data"><%= vehicle.licence_plate %></div>
        </div>

        <div class="across">
          <div class="s-label">Make</div>
          <div class="data"><%= vehicle.make %></div>
        </div>

        <div class="across">
          <div class="s-label">Model</div>
          <div class="data" ><%= vehicle.model %></div>
        </div>

        <div class="across">
          <div class="s-label">Colour</div>
          <div class="data"><%= vehicle.colour %></div>
        </div>

        <div class="across">
          <div class="s-label" >Charge Kw/h</div>
          <div class="data"><%= vehicle.charger_kwh %></div>
        </div>

        <div class="across">
          <div class="s-label">Drivers Licence</div>
          <div class="data"><%= vehicle.drivers_licence_number %></div>
        </div>
      </div>
      <div class="buttons">
        <%= link_to 'Show', vehicle, class: 'item btn btn-success' %>
        <%= link_to 'Edit', edit_vehicle_path(vehicle), class: 'item btn btn-warning' %>
        <%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'item btn
        btn-danger' %>
      </div>

    </div>
  <% end %>
</div>

<%= link_to 'New Vehicle', new_vehicle_path, class: 'btn btn-warning' %>
