<%= form_with(model: charge_station, local: true) do |form| %>
  <% if charge_station.errors.any? %></div>
    <div id="error_explanation">
      <h2><%= pluralize(charge_station.errors.count, "error") %></div> prohibited this charge_station from being saved:</h2>

      <ul>
      <% charge_station.errors.full_messages.each do |message| %></div>
        <li><%= message %></div></li>
      <% end %></div>
      </ul>
    </div>
  <% end %></div>

  <div class="s-table">
    <div class="across">
      <div class="s-label f2">Street number</div>
      <div class="data f3"><%= form.text_field :street_number, id: :charge_station_street_number %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Street</div>
      <div class="data f3"><%= form.text_field :street, id: :charge_station_street %></div>
    </div>

    <div class="across">
      <div class="s-label f2">City</div>
      <div class="data f3"><%= form.text_field :city, id: :charge_station_city %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Postcode</div>
      <div class="data f3"><%= form.text_field :postcode, id: :charge_station_postcode %></div>
    </div>

    <div class="across">
      <div class="s-label f2">State</div>
      <div class="data f3"><%= form.text_field :state, id: :charge_station_state %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Charge_kwh</div>
      <div class="data f3"><%= form.text_field :charge_kwh, id: :charge_station_charge_kwh %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Adapter</div>
      <div class="data f3"><%= form.collection_select :adapter_id, Adapter.order(:to_plug), :id, :to_plug %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Open time</div>
      <div class="data f3"><%= form.time_select :open_time, id: :charge_station_open_time %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Close_time</div>
      <div class="data f3"><%= form.time_select :close_time, id: :charge_station_close_time %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Days of week</div>
      <div class="data f3"><%= form.text_field :days_of_week, id: :charge_station_days_of_week %></div>
    </div>

    <div class="across">
      <div class="s-label f2">Price kw/h cents</div>
      <div class="data f3"><%= form.text_field :price_kwh_cents, id: :charge_station_price_kwh_cents %></div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit 'Update', class: 'btn btn-warning' %>

<% end %>
