
<div class="s-table">
  <%= render 'layouts/address', object: @charge_station %>

  <%= render 'layouts/charge_station_details', charge_station: @charge_station, plugs: @plugs %>
</div>
<%= link_to 'Edit', edit_charge_station_path(@charge_station), class: 'btn btn-warning' %>
<%= link_to 'Back', charge_stations_path, class: 'item btn btn-success' %>
<%= link_to 'Adapter plugs', charge_station_adapter_plugs_path(@charge_station), class: 'btn btn-warning' %>
<%= button_to 'Chat', conversations_path(charge_station_id: @charge_station, method: :post), class: 'btn
      btn-warning' %>
