<div class="charge_stations">
  <div class="s-table">
    <div class="across">
      <div class="s-label f4">Street number:</div>
      <div class="data f5"><%= @charge_station.street_number %></div>
    </div>

    <div class="across">
      <div class="s-label f4">Street:</div>
      <div class="data f5"><%= @charge_station.street %></div>
    </div>

    <div class="across">
      <div class="s-label f4">City:</div>
      <div class="data f5"><%= @charge_station.city %></div>
    </div>

    <div class="across">
      <div class="s-label f4">Postcode:</div>
      <div class="data f5"><%= @charge_station.postcode %></div>
    </div>

    <div class="across">
      <div class="s-label f4">State:</div>
      <div class="data f5"><%= @charge_station.state %></div>
    </div>

    <%= render 'layouts/charge_station_details', charge_station: @charge_station, plugs: @plugs %>

    <div class="across buttons">
      <%= link_to 'Edit', edit_charge_station_path(@charge_station), class: 'item btn btn-warning' %>
      <%= link_to 'Back', charge_stations_path, class: 'item btn btn-success' %>
    </div>
    <div class="across buttons">
      <%= link_to 'Adapter plugs', charge_station_adapter_plugs_path(@charge_station), class: 'item btn
      btn-warning' %>
    </div>
  </div>

</div>