<div class="across">
  <div class="s-label f4">Street number</div>
  <div class="data f5"><%= object.address.number %></div>
</div>

<div class="across">
  <div class="s-label f4">Street</div>
  <div class="data f5"><%= object.address.street %></div>
</div>

<div class="across">
  <div class="s-label f4">City</div>
  <div class="data f5"><%= object.address.city %></div>
</div>

<div class="across">
  <div class="s-label f4">State</div>
  <div class="data f5"><%= object.address.state %></div>
</div>

<div class="across">
  <div class="s-label f4">Postcode</div>
  <div class="data f5"><%= object.address.postcode %></div>
</div>

<div class="across">
  <div class="s-label f4">Country</div>
  <div class="data f5"><%= object.address.country %></div>
</div>