<!DOCTYPE html>
<html>
  <head>
    <title>Know Charge</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  </head>

  <body>
    <nav>
      <input id="nav-check" type="checkbox">
      <label id="nav-icon" for="nav-check">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="menu">
        <%= link_to 'Home', root_url, class: "nav1 #{set_target('homes')}" %>
        <%= link_to 'My Details', profiles_path, class: "nav2 #{set_target('profiles')}" %>
        <%= link_to 'My Vehicles', vehicles_path, class: "nav2 #{set_target('vehicles')}" %>
        <%= link_to 'My Charge Stations', charge_stations_path, class: "nav3 #{set_target('charge_stations')}" %>
        <%= link_to 'My Favourites', '#', class: "nav2 #{set_target('favourites')}" %>
        <div class="head">
          <%= set_heading %>
        </div>
      </div>
    </nav>
    <div class="header-bar across">
      <div class="item">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'in-out') %>
        <% else %>
          <%= link_to('Login', new_user_session_path, class: 'in-out')  %>
        <% end %>
      </div>
      <div class="item head">
        <h3>Know Charge</h3>
      </div>
      <div class="item"></div>
    </div>
    <div class="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
