<!DOCTYPE html>
<html>
  <head>
    <title>Know Charge</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch('MAPS_KEYJS') %>&callback=initMap"
            type="text/javascript"></script>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" <%= yield :extra_body_attributes %> >
    <nav>
      <input id="nav-check" type="checkbox">
      <label id="nav-icon" for="nav-check">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="menu">
        <nav>
          <%= link_to 'Home', root_url, class: "nav1 #{set_target('homes')}" %>
          <%= link_to 'Details', profiles_path, class: "nav2 #{set_target('profiles')}" %>
          <%= link_to 'Vehicles', vehicles_path, class: "nav3 #{set_target('vehicles')}" %>
          <%= link_to 'Charge Stations', charge_stations_path, class: "nav5 #{set_target('charge_stations')}" %>
          <%= link_to 'Bookings', bookings_path, class: "nav3 #{set_target('bookings')}" %>
          <%= link_to 'Favourites', favourites_path, class: "nav4 #{set_target('favourites')}" %>
          <%= link_to 'Charge Sessions', charge_sessions_path, class: "nav5 #{set_target('charge_sessions')}" %>
        </nav>
        <div class="head">
          <div class="text"><%= set_heading %></div>
        </div>
        <div class="name"><%= signed_in? && current_user.profile ? current_user.profile.full_name : ' ' %></div>
      </div>
    </nav>
    <div class="header-bar across">
      <div class="item">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'in-out') %>
        <% else %>
          <%= link_to('Login', new_user_session_path, class: 'in-out')  %>
        <% end %>
      </div>
      <div class="item head">
        <h3>Know Charge</h3>
      </div>
      <div class="item">
        <div class="name"><%= signed_in? && current_user.profile ? current_user.profile.full_name : ' ' %></div>
      </div>
    </div>
    <div class="main">
      <div class="<%= controller_name %>">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
